.box{
    display:'flex';   
}

@media only screen and (min-width:640px) {
.box{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    
} 
.cards{
    width:30%;  
}    
     
}

@media only screen and (min-width:1024px) { 
.cards{
    width:25%;  
}    
   
}

@media only screen and (min-width:1440px) { 
.container{
    display:flex;
  
    padding: 0 0px;
}    
   
}